<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="assigprac">
    <classes>
      <class name="testng.Assig9"/>
      <class name="testng.Assig8"/>
    </classes>
  </test> <!-- assigprac -->
</suite> <!-- Suite -->
